body {
  background-image: url("jpg copy");
  /*  background-image: url("https://img.peapix.com/3831d61389364ccdac7cb4a23526d443.jpg?attachment&modal"); */
  /* background-size: cover; */
  background-position: center center;
  /* display: flex; */
  flex-direction: column;
  /* min-height: 100vh; */
  /* margin: 0; */
}
h1 {
  text-align: center;
  color: white;
  font-size: 180%;
  font-weight: bold;
}
h2 {
  padding-left: 8%;
  color: white;
  font-size: 140%;
  font-weight: bold;
}
p {
  color: white;
  padding-left: 8%;
  padding-right: 8%;
  font-size: 120%;
}

.button2 {
  color: white;
  position: relative;
  font-size: 30px;
  padding-left: 15%;
  background-color: transparent;
  border: transparent;
}
.button2:hover {
  /* display: block; */
  /* background-color: #00bfff; */

  padding-left: 11%;
  color: rgb(244, 236, 248);
}

img {
  padding-left: 18%;
}
/* .column { */
/*   color: white; */
/*   padding-left: 8%; */
/*   float: left; */
/*   width: 50%; */
/* } */
/**/
/* /* Clear floats after the columns */
/* .row:after { */
/*   content: ""; */
/*   display: table; */
/*   clear: both; */
/* } */
