body {
  background-image: url("jpg");
  background-position: center center;
  /* display: flex; */
  flex-direction: column;
  /* min-height: 100vh; */
  /* margin: 0; */
}
h1 {
  text-align: center;
  color: white;
  font-size: 180%;
  font-weight: bold;
}
h2 {
  padding-left: 8%;
  color: white;
  font-size: 140%;
  font-weight: bold;
}
p {
  color: white;
  padding-left: 8%;
  padding-right: 8%;
  font-size: 120%;
}
.c-button {
  box-sizing: border-box;
  padding-left: 80%;
  background: transparent;
  text-align: center;
  color: white;
  border-style: solid;
  padding: 20px;
  font-size: 20px;
  width: 200px;
  border: none;
}
.c-button:hove {
  background-color: #00bfff;
  border-style: solid;
}

/* .column { */
/*   color: white; */
/*   padding-left: 8%; */
/*   float: left; */
/*   width: 50%; */
/* } */
/**/
/* /* Clear floats after the columns */
/* .row:after { */
/*   content: ""; */
/*   display: table; */
/*   clear: both; */
/* } */
a:link {
  color: navajowhite;
}
a:visited {
  color: white;
}
