body {
  background-image: url("jpg");
  background-position: center center;
  /* display: flex; */
  flex-direction: column;
  /* min-height: 100vh; */
  /* margin: 0; */
}
h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-stretch: expanded;
  color: white;
  font-size: 180%;
  font-weight: bold;
}
h2 {
  padding-left: 8%;
  color: white;
  font-size: 140%;
  font-weight: bold;
}
p {
  color: white;
  padding-left: 8%;
  padding-right: 8%;
  font-size: 120%;
}
.button2 {
  color: white;
  position: relative;
  font-size: 30px;
  padding-left: 15%;
  background-color: transparent;
  border: transparent;
}
.button2:hover {
  /* display: block; */
  /* background-color: #00bfff; */

  padding-left: 11%;
  color: rgb(244, 236, 248);
}

/* .column { */
/*   color: white; */
/*   padding-left: 8%; */
/*   float: left; */
/*   width: 50%; */
/* } */
/**/
/* /* Clear floats after the columns */
/* .row:after { */
/*   content: ""; */
/*   display: table; */
/*   clear: both; */
/* } */
a {
  padding-top: 30%;
}
a:link {
  color: navajowhite;
}
a:visited {
  color: white;
}
#left-link {
  position: relative; /* Allows positioning based on its normal position */
  left: 55%; /* Move the link 8% to the left */
  top: 50%;
}
.left {
  display: inline-block; /* Ensure the link occupies only the width of the button */
  position: relative; /* Allows positioning based on its normal position */
  left: 8%;
}
